@font-face {
    font-family: releway_f;
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-regular.woff2') format('woff2')
}

@font-face {
    font-family: releway_f;
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/raleway-black.woff2') format('woff2')
}
